body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.completePage {
  height: 100vh;
}

.listBckrnd {
  background-image: url("/public/VGwHMtohTA.png");
  /* background-size: 1150px 695px; */
  background-size: cover;
}
.card {
  width: 18rem;
  border-radius: 10px !important;
}
