body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listBckrnd {
  position: relative;
  background-image: url("/public/large_2773_VA87MRainbowTKL_2.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right;
}

.card {
  width: 18rem;
  border-radius: 10px !important;
}

.quote {
  background-color: #6e6c6c18;
}
.btnS {
  position: relative;
  border: none;
  transition: 0.4s ease-in;
  z-index: 1;
}
.btnS::before,
.btnS::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.btnS1:hover {
  box-shadow: 10px 10px 0px rgb(52, 39, 230);
  top: 5px;
  left: -5px;
}

.btnS2:hover {
  box-shadow: inset -10.5em 0 0 0 #ff96ad, inset 10.5em 0 0 0 #e63d3dc7;
}
.btnS2:hover::after {
  width: 10%;
}

.btnS3:hover {
  background: #0eb5df;
  box-shadow: 0 0 5px #0eb5df, 0 0 25px #0eb5df, 0 0 50px #0eb5df;
}
.quoteHeight {
  height: 245px;
}

.abilitiesFront {
  overflow: auto;
  position: relative;
}
.abilitiesFront::before {
  content: "";
  position: absolute;
  left: 35%;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../public/large_2773_VA87MRainbowTKL_2.jpg");
  background-size: contain;
  width: 65%;
  height: 80%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}
.frontFooter {
  overflow: auto;
  position: relative;
}

.frontFooter::before {
  margin-top: 30px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  border-radius: 80px;
  display: block;
  background-image: url("../public/Remote-Support-Solutions.jpg");
  background-size: auto;
  width: 100%;
  height: 80%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(8px);
}
